<div class="lbbs-footer">

  <div class="footer-container">

    <!-- Mobile view -->
    <div class="visible-xs">
      <div class="clearfix footer-item">
        <div class="menu"><a>SẢN PHẨM VÀ DỊCH VỤ</a></div>
      </div>
      <div class="clearfix footer-item">
        <div class="menu"><a>THÔNG TIN</a></div>
      </div>
      <div class="clearfix footer-item">
        <div class="menu"><a>GIỚI THIỆU</a></div>
      </div>
      <div class="clearfix footer-item">
        <div class="menu"><a>LIÊN HỆ</a></div>
      </div>
      <div class="clearfix footer-item">
        <div class="menu"><a>BẢN ĐỒ</a></div>
      </div>
      <div class="clearfix copyright">
        LBBS &copy; 2016. All Rights Reserved.
      </div>
    </div>

    <!-- Tablet view -->
    <div class="hidden-xs">
      <div class="clearfix">
        <div class="col-sm-3 footer-column">
          <span class="footer-logo" ui-sref="main.dashboard">
            <img src="/app/assets/img/logo/logo.png" alt="LBBS">
          </span>
          <h4>Office: D1601 The Manor Officetel 2, 91 Nguyen Huu Canh, Ward 22, Binh Thanh District, HCMC</h4>
          <h4>sale@lbbs.vn</h4>
          <h3>+848 3821 1195</h3>
        </div>
        <div class="col-sm-1 footer-column">
          <div class="footer-column-header">
            <h4>GIỚI THIỆU</h4>
          </div>
        </div>
        <div class="col-sm-3 footer-column">
          <div class="footer-column-header">
            <h4>DICH VỤ VÀ SẢN PHẨM</h4>
          </div>
        </div>
        <div class="col-sm-1 footer-column"></div>
        <div class="col-sm-4 footer-column"></div>
      </div>
      <div class="clearfix copyright">
        LBBS &copy; 2016. All Rights Reserved.
      </div>
    </div>
  </div>
</div>