<div class="lbbs-footer">
  <div class="footer-container">
    <div class="clearfix footer-item">
      <div class="menu"><a>SẢN PHẨM VÀ DỊCH VỤ</a></div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu"><a>THÔNG TIN</a></div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu"><a>GIỚI THIỆU</a></div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu"><a>LIÊN HỆ</a></div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu"><a>BẢN ĐỒ</a></div>
    </div>
    <div class="clearfix copyright">
      LBBS &copy; 2016. All Rights Reserved.
    </div>
  </div>
</div>