<div class="lbbs-footer">
  <div class="footer-container">
    <div class="clearfix footer-item">
      <div class="menu">SẢN PHẨM VÀ DỊCH VỤ</div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu">THÔNG TIN</div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu">GIỚI THIỆU</div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu">LIÊN HỆ</div>
    </div>
    <div class="clearfix footer-item">
      <div class="menu">BẢN ĐỒ</div>
    </div>
    <div class="clearfix copyright">
      LBBS &copy; 2016. All Rights Reserved.
    </div>
  </div>
</div>