<div class="hose-detail-view">
  <div class="product-container row">
    <div class="product-image col-xs-6">
      <div class="img-container">
        <img src="/app/assets/img/products/hose_fittings/E04699.jpg" alt="Male Hose Nipple">
      </div>
    </div>
    <div class="product-details col-xs-6">
      <div class="header">CHI TIẾT SẢN PHẨM</div>
      <div class="name"><h3>{{vm.hose.name}}</h3></div>
      <form class="form-horizontal details">
        <div class="form-group">
          <label class="col-xs-6">Fitting Type</label>
          <span class="col-xs-6">{{vm.hose.fittingType}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">NPT (in)</label>
          <span class="col-xs-6">{{vm.hose.npt}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">Shank Length (in)</label>
          <span class="col-xs-6">{{vm.hose.length}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">Material</label>
          <span class="col-xs-6">{{vm.hose.material}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">Package Weight (lbs)</label>
          <span class="col-xs-6">{{vm.hose.weightLb}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">Package Weight (kg)</label>
          <span class="col-xs-6">{{vm.hose.weightKg}}</span>
        </div>
        <div class="form-group">
          <label class="col-xs-6">Unit of Measure</label>
          <span class="col-xs-6">{{vm.hose.uom}}</span>
        </div>
      </form>
      <div class="order">
        <a ui-sref="main.hose.list" class="pull-left">< Quay lại</a>
        <a class="btn btn-default pull-right" class="pull-right">ĐẶT HÀNG</a>
      </div>
    </div>
  </div>
  <div class="related-products">
    <div class="product-group-container">
      <div class="row">
        <div class="col-xs-12" ng-repeat="hose in vm.relatedHoses | limitTo: 3">
          <div class="product-group">
            <div class="product-image" ng-click="vm.goToDetailsView(hose)">
              <span class="img-container">
                <img src="/app/assets/img/products/hose_fittings/E04699.jpg" alt="Male Hose Nipple">
              </span>
            </div>
            <div class="product-overview">
              <h4 class="name" ng-click="vm.goToDetailsView(hose)">{{hose.name}}</h4>
              <p class="description">{{hose.description}}</p>
              <div><label>Material:</label> {{hose.material}}</div>
              <div><label>NPT (in):</label> {{hose.npt}}</div>
              <div><label>Fitting Type:</label> {{hose.fittingType}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>