.dashboard-view {
  .banner {
    .img-container {
      //height: 300px;
      width: 100%;
    }
  }

  .menus {
    .bg-darkgray;

    .menus-container {
      padding: 20px;

      .menu {
        //text-align: center;
        padding: 50px 0 100px 0;
        cursor: pointer;

        .menu-image {
          .img-container {
            //margin: auto;
            height: 300px;
            width: 360px;
          }
        }

        .menu-name {
          h3 {
            .text-uppercase;
            .text-yellow;
            .text-bold;

            &:hover {
              .text-lightgray;
            }
          }
        }
      }
    }
  }
}