.hose-view {
  .bg-lightgray;

  .banner {
    .img-container {
      //height: 300px;
      width: 100%;
    }
  }

  .menu {
    padding: 10px 15px;

    .name {
      .text-uppercase;
    }

    .description {

    }
  }

  .hose-list-view {
    .product-group-container {
      padding: 40px 15px;

      .product-group {
        padding-bottom: 50px;

        .product-image {
          float: left;
          cursor: pointer;

          .img-container {
            height: 150px;
            width: 150px;
          }
        }

        .product-overview {
          margin-left: 170px;
          border-top: 1px solid @gray;
          border-bottom: 1px solid @gray;
          padding: 2px 0;

          .name {
            .text-bold;
            cursor: pointer;

            &:hover {
              .text-yellow;
            }
          }

          .description {
            .text-gray;
          }
        }
      }

      a:hover {
        .text-yellow;
      }
    }
  }

  .hose-detail-view {
    .product-container {
      padding-bottom: 50px;

      .product-image {
        .img-container {
          margin: auto;
          height: 500px;
          width: 500px;
        }
      }

      .product-details {
        .header {
          .bg-yellow;
          .text-darkgray;
          .text-uppercase;
          padding: 5px;
        }

        .name {
          h3 {
            .text-uppercase;
            .text-bold;

            margin-bottom: 20px;
          }
        }

        .details {
          border-bottom: 1px solid @gray;
          padding-bottom: 20px;

          .form-group {
            margin-bottom: 7px !important;
          }
        }

        .order {
          padding-top: 30px;

          a {
            &:hover {
              color: @yellow;
            }
          }
        }
      }
    }

    .related-products {
      padding: 10px 15px;

      .product-group-container {
        .product-group {
          padding: 10px 0;

          .product-image {
            float: left;

            .img-container {
              height: 150px;
              width: 150px;
            }
          }

          .product-overview {
            margin-left: 170px;
            border-top: 1px solid @gray;
            border-bottom: 1px solid @gray;
            padding: 2px 0;
          }
        }

        .more {
          padding-left: 175px;
          padding-top: 20px;

          a:hover {
            .text-yellow;
          }
        }
      }
    }
  }
}