.lbbs-header {
  height: 50px;

  .header-container {
    .bg-yellow;
    .text-black;
    border-bottom: 10px solid @darkgray;

    .logo-container {
      display: inline-block;
      width: 136px;
      height: 48px;
    }

    .header-text {
      display: inline-block;

      h3 {
        margin: 0;
      }
    }
  }
}

.lbbs-content {

}

.lbbs-footer {
  padding-top: 50px;

  .footer-container {
    .footer-item {
      .bg-yellow;

      .menu {
        margin-left: 30px;
        .text-black;
        padding: 10px 20px 10px 0;
        border-bottom: 1px solid @black;
        text-transform: uppercase;
        font-weight: bold;

        // TODO :last-child
      }
    }

    .copyright {
      .bg-darkgray;
      .text-lightgray;
      padding: 10px 0 10px 20px;
    }
  }
}